:root {
  --body-bg: #ECECEC;
  --aside-bg: #253949;
  --aside-text: #F1F3F4;
  --overview-bg: #F3F3F4;
  --overview-section-bg: white;
  --overview-text: #253949;
  --overview-text-size: 0.75rem;
  --details-bg: #ECECEC;
  --details-text: #253949;
  --details-text-size: 0.75rem;
  --section-gap: 20px;
  --details-section-bg: white;
  --details-section-text: #253949;
  --sidebar-label: #22C6C8;
  --main-bg: #F3F3F4;
  --highlight-green: #1AB393;
}

/* * {
  outline: 2px solid pink;
}  */