* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 200px 1fr;
  background-color: var(--body-bg);
}

.overview {
  display: grid;
  grid-template-columns: 1fr 1.75fr 1fr;
  background-color: var(--overview-bg);
  color: var(--overview-text);
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--section-gap);
  margin-left: var(--section-gap);
  margin-right: var(--section-gap);
  margin-top: var(--section-gap);
  background-color: var(--details-bg);
  color: var(--details-text);
}

.details div {
  height: 100%;
  background-color: var(--details-section-bg);
  color: var(--details-section-text);
}