.letter, .guess {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  flex-direction: row;
  width: 3rem;
  height: 3rem;
  border: 1px solid grey;
  font-size: 2rem;

}

#board, #letter-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto auto;
}

#letter-selection {
  margin-top: 200px;
}

.guess:hover {
  cursor: pointer;
}

.blank {
  color: white;;
}

