.filter-bar div input{
  outline: 2px solid green;
}
/* 
.details {
  outline: 2px solid navy;
}

footer {
  outline: 2px solid green;
}

.overview .left, .overview .center, .overview .right {
  /* outline: 1px solid pink; 
}

.details .left, .details .center, .details .right {
  outline: 1px solid blue;
} */