@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100;300;400;700&display=swap');

* {
  font-family: Lato;
}

:root {
/* custom colors */
  /* background custom colors 1-10 */
  --bg-color-1: #F3F3F4;
  --bg-color-2: #253949;
  --bg-color-3: #19B394;
  --bg-color-4: #1C84C6;
  --bg-color-5: #23C6C8;
  --bg-color-6: #F8AC59;
  --bg-color-7: red;
  --bg-color-8: black;
  --bg-color-9: black;
  --bg-color-10: black;

  /* text  colors */
  --text-color-1: #676A6C;
  --text-color-2: #6C757D;
  --text-color-3: #A7B1C2;
  --text-color-4: #1C84C6;
  --text-color-6: #19B394;
  --text-color-7: #23C6C8;
  --text-color-8: #F8AC59;
  --text-color-9: black;
  --text-color-10: black;
}
