/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* font sizes */
.text-tiny{
  font-size: var(--text-tiny);
}
.text-small{
  font-size: var(--text-small);
}
.text-medium{
  font-size: var(--text-medium);
}
.text-large{
  font-size: var(--text-large);
}
.text-huge{
  font-size: var(--text-huge);
}


/* font weights */
.font-bold {
  font-weight: var(--weight-heavy);
}

.font-base {
  font-weight: var(--weight-base);
}

.font-light {
  font-weight: var(--weight-light);
}

.text-default {
  font-size: var(--size-default);
  font-weight: var(--weight-default);
}

/* standard text colors */
.text-primary {
  color: var(--text-primary);
}
.text-secondary {
  color: var(--text-secondary);
}
.text-success {
  color: var(--text-success);
}
.text-danger {
  color: var(--text-danger);
}
.text-warning {
  color: var(--text-warning);
}
.text-info {
  color: var(--text-info);
}
.text-light {
  color: var(--text-light);
}
.text-dark {
  color: var(--text-dark);
}
.text-muted {
  color: var(--text-muted);
}
.text-white {
  color: var(--text-white);
}
.text-black {
  color: var(--text-black);
}

/* custom text colors */
.text-color-1 {
  color: var(--text-color-1);
}
.text-color-2 {
  color: var(--text-color-2);
}
.text-color-3 {
  color: var(--text-color-3);
}
.text-color-4 {
  color: var(--text-color-4);
}
.text-color-5 {
  color: var(--text-color-5);
}
.text-color-6 {
  color: var(--text-color-6);
}
.text-color-7 {
  color: var(--text-color-7);
}
.text-color-8 {
  color: var(--text-color-8);
}
.text-color-9 {
  color: var(--text-color-9);
}
.text-color-10 {
  color: var(--text-color-10);
}