/* misc */
.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.margin-auto-x {
  margin: auto auto;
}

.border-1-color-1 {
  border: 1px solid var(--text-color-1);
}
.border-1-color-2 {
  border: 1px solid var(--text-color-2);
}
.border-1-color-3 {
  border: 1px solid var(--text-color-3);
}

.border-bottom-1-color-3 {
  border-bottom: 1px solid var(--text-color-3);
}

.height-fit-content {
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* grey borders */
.border-0 {
  border: 0;
}
.border-1 {
  border: 1px solid grey;
}
.border-2 {
  border: 2px solid grey;
}

/* rem widths */
.width-1-rem {
  width: 1rem;
}
.width-2-rem {
  width: 2rem;
}
.width-2-rem {
  width: 2rem;
}
.width-3-rem {
  width: 3rem;
}
.width-4-rem {
  width: 4rem;
}
.width-5-rem {
  width: 5rem;
}
.width-6-rem {
  width: 6rem;
}
.width-7-rem {
  width: 7rem;
}
.width-8-rem {
  width: 8rem;
}
.width-9-rem {
  width: 9rem;
}
.width-10-rem {
  width: 10rem;
}
.width-15-rem {
  width: 15rem;
}
.width-20-rem {
  width: 20rem;
}
.width-30-rem {
  width: 30rem;
}
.width-40-rem {
  width: 40rem;
}

.width-full {
  width: 100%;
}

/* heights */
.height-small {
  height: 0.8rem;
}

.height-1-rem {
  height: 1rem;
}
.height-2-rem {
  height: 2rem;
}
.height-3-rem {
  height: 3rem;
}

.height-full {
  height: 100%;
}


/* standard background colors */
.bg-primary {
  background-color: var(--bg-primary); 
}
.bg-secondary {
  background-color: var(--bg-secondary);
}
.bg-success {
  background-color: var(--bg-success);
}
.bg-danger {
  background-color: var(--bg-danger);
}
.bg-warning {
  background-color: var(--bg-warning);
}
.bg-info {
  background-color: var(--bg-info);
}
.bg-light {
  background-color: var(--bg-light);
}
.bg-dark {
  background-color: var(--bg-dark);
} 
.bg-muted {
  background-color: var(--bg-muted);
}
.bg-white {
  background-color: var(--bg-white);
}
.bg-black {
  background-color: var(--bg-black);
}

/* custom background colors */
.bg-color-1 {
  background-color: var(--bg-color-1);
}
.bg-color-2 {
  background-color: var(--bg-color-2);
}
.bg-color-3 {
  background-color: var(--bg-color-3);
}
.bg-color-4 {
  background-color: var(--bg-color-4);
}
.bg-color-5 {
  background-color: var(--bg-color-5);
}
.bg-color-6 {
  background-color: var(--bg-color-6);
}
.bg-color-7 {
  background-color: var(--bg-color-7);
}
.bg-color-8 {
  background-color: var(--bg-color-8);
}
.bg-color-9 {
  background-color: var(--bg-color-9);
}
.bg-color-10 {
  background-color: var(--bg-color-10);
}

/* border radiuses */
.rounded-none {
  border-radius: var(--rounded-none);
}
.rounded-tiny {
  border-radius: var(--rounded-tiny);
}
.rounded-small {
  border-radius: var(--rounded-small);
}
.rounded-medium {
  border-radius: var(--rounded-medium);
}
.rounded-large {
  border-radius: var(--rounded-large);
}
.rounded-huge {
  border-radius: var(--rounded-huge);
}

/* margin all */
.margin-none {
  margin: var(--margin-none);
}
.margin-tiny {
  margin: var(--margin-tiny);
}
.margin-small {
  margin: var(--margin-small);
}
.margin-medium {
  margin: var(--margin-medium);
}
.margin-large {
  margin: var(--margin-large);
}
.margin-huge {
  margin: var(--margin-huge);
}

/* margin tops */
.margin-top-none {
  margin-top: var(--margin-none);
}
.margin-top-tiny {
  margin-top: var(--margin-tiny);
}
.margin-top-small {
  margin-top: var(--margin-small);
}
.margin-top-medium {
  margin-top: var(--margin-medium);
}
.margin-top-large {
  margin-top: var(--margin-large);
}
.margin-top-huge {
  margin-top: var(--margin-huge);
}

/* margin rights */
.margin-right-none {
  margin-right: var(--margin-none);
}
.margin-right-tiny {
  margin-right: var(--margin-tiny);
}
.margin-right-small {
  margin-right: var(--margin-small);
}
.margin-right-medium {
  margin-right: var(--margin-medium);
}
.margin-right-large {
  margin-right: var(--margin-large);
}
.margin-right-huge {
  margin-right: var(--margin-huge);
}

/* margin bottoms */
.margin-bottom-none {
  margin-bottom: var(--margin-none);
}
.margin-bottom-tiny {
  margin-bottom: var(--margin-tiny);
}
.margin-bottom-small {
  margin-bottom: var(--margin-small);
}
.margin-bottom-medium {
  margin-bottom: var(--margin-medium);
}
.margin-bottom-large {
  margin-bottom: var(--margin-large);
}
.margin-bottom-huge {
  margin-bottom: var(--margin-huge);
}

/* margin-lefts */
.margin-left-none {
  margin-left: var(--margin-none);
}
.margin-left-tiny {
  margin-left: var(--margin-tiny);
}
.margin-left-small {
  margin-left: var(--margin-small);
}
.margin-left-medium {
  margin-left: var(--margin-medium);
}
.margin-left-large {
  margin-left: var(--margin-large);
}
.margin-left-huge {
  margin-left: var(--margin-huge);
}

/* margin x */
.margin-x-none {
  margin-left: var(--margin-none);
  margin-right: var(--margin-none);
}
.margin-x-tiny {
  margin-left: var(--margin-tiny);
  margin-right: var(--margin-tiny);
}
.margin-x-small {
  margin-left: var(--margin-small);
  margin-right: var(--margin-small);
}
.margin-x-medium {
  margin-left: var(--margin-medium);
  margin-right: var(--margin-medium);
}
.margin-x-large {
  margin-left: var(--margin-large);
  margin-right: var(--margin-large);
}
.margin-x-huge {
  margin-left: var(--margin-huge);
  margin-right: var(--margin-huge);
}

/* margin y */
.margin-y-none {
  margin-top: var(--margin-none);
  margin-bottom: var(--margin-none);
}
.margin-y-tiny {
  margin-top: var(--margin-tiny);
  margin-bottom: var(--margin-tiny);
}
.margin-y-small {
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-small);
}
.margin-y-medium {
  margin-top: var(--margin-medium);
  margin-bottom: var(--margin-medium);
}
.margin-y-large {
  margin-top: var(--margin-large);
  margin-bottom: var(--margin-large);
}
.margin-y-huge {
  margin-top: var(--margin-huge);
  margin-bottom: var(--margin-huge);
}

/* margin all */
.margin-none {
  margin: var(--margin-none);
}
.margin-tiny {
  margin: var(--margin-tiny);
}
.margin-small {
  margin: var(--margin-small);
}
.margin-medium {
  margin: var(--margin-medium);
}
.margin-large {
  margin: var(--margin-large);
}
.margin-huge {
  margin: var(--margin-huge);
}

/* margin tops */
.margin-top-none {
  margin-top: var(--margin-none);
}
.margin-top-tiny {
  margin-top: var(--margin-tiny);
}
.margin-top-small {
  margin-top: var(--margin-small);
}
.margin-top-medium {
  margin-top: var(--margin-medium);
}
.margin-top-large {
  margin-top: var(--margin-large);
}
.margin-top-huge {
  margin-top: var(--margin-huge);
}

/* margin rights */
.margin-right-none {
  margin-right: var(--margin-none);
}
.margin-right-tiny {
  margin-right: var(--margin-tiny);
}
.margin-right-small {
  margin-right: var(--margin-small);
}
.margin-right-medium {
  margin-right: var(--margin-medium);
}
.margin-right-large {
  margin-right: var(--margin-large);
}
.margin-right-huge {
  margin-right: var(--margin-huge);
}

/* margin bottoms */
.margin-bottom-none {
  margin-bottom: var(--margin-none);
}
.margin-bottom-tiny {
  margin-bottom: var(--margin-tiny);
}
.margin-bottom-small {
  margin-bottom: var(--margin-small);
}
.margin-bottom-medium {
  margin-bottom: var(--margin-medium);
}
.margin-bottom-large {
  margin-bottom: var(--margin-large);
}
.margin-bottom-huge {
  margin-bottom: var(--margin-huge);
}

/* margin-lefts */
.margin-left-none {
  margin-left: var(--margin-none);
}
.margin-left-tiny {
  margin-left: var(--margin-tiny);
}
.margin-left-small {
  margin-left: var(--margin-small);
}
.margin-left-medium {
  margin-left: var(--margin-medium);
}
.margin-left-large {
  margin-left: var(--margin-large);
}
.margin-left-huge {
  margin-left: var(--margin-huge);
}

/* margin x */
.margin-x-none {
  margin-left: var(--margin-none);
  margin-right: var(--margin-none);
}
.margin-x-tiny {
  margin-left: var(--margin-tiny);
  margin-right: var(--margin-tiny);
}
.margin-x-small {
  margin-left: var(--margin-small);
  margin-right: var(--margin-small);
}
.margin-x-medium {
  margin-left: var(--margin-medium);
  margin-right: var(--margin-medium);
}
.margin-x-large {
  margin-left: var(--margin-large);
  margin-right: var(--margin-large);
}
.margin-x-huge {
  margin-left: var(--margin-huge);
  margin-right: var(--margin-huge);
}

/* margin y */
.margin-y-none {
  margin-top: var(--margin-none);
  margin-bottom: var(--margin-none);
}
.margin-y-tiny {
  margin-top: var(--margin-tiny);
  margin-bottom: var(--margin-tiny);
}
.margin-y-small {
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-small);
}
.margin-y-medium {
  margin-top: var(--margin-medium);
  margin-bottom: var(--margin-medium);
}
.margin-y-large {
  margin-top: var(--margin-large);
  margin-bottom: var(--margin-large);
}
.margin-y-huge {
  margin-top: var(--margin-huge);
  margin-bottom: var(--margin-huge);
}

/* negative margins */
.margin-left-small-neg {
  margin-left: -12px;
}

.margin-top-tiny-neg {
  margin-top: -6px;
}

/* padding */
/* padding all */
.padding-none {
  padding: var(--padding-none);
}
.padding-tiny {
  padding: var(--padding-tiny);
}
.padding-small {
  padding: var(--padding-small);
}
.padding-medium {
  padding: var(--padding-medium);
}
.padding-large {
  padding: var(--padding-large);
}
.padding-huge {
  padding: var(--padding-huge);
}

/* padding tops */
.padding-top-none {
  padding-top: var(--padding-none);
}
.padding-top-tiny {
  padding-top: var(--padding-tiny);
}
.padding-top-small {
  padding-top: var(--padding-small);
}
.padding-top-medium {
  padding-top: var(--padding-medium);
}
.padding-top-large {
  padding-top: var(--padding-large);
}
.padding-top-huge {
  padding-top: var(--padding-huge);
}
/* padding rights */
.padding-right-none {
  padding-right: var(--padding-none);
}
.padding-right-tiny {
  padding-right: var(--padding-tiny);
}
.padding-right-small {
  padding-right: var(--padding-small);
}
.padding-right-medium {
  padding-right: var(--padding-medium);
}
.padding-right-large {
  padding-right: var(--padding-large);
}
.padding-right-huge {
  padding-right: var(--padding-huge);
}

/* padding bottoms */
.padding-bottom-none {
  padding-bottom: var(--padding-none);
}
.padding-bottom-tiny {
  padding-bottom: var(--padding-tiny);
}
.padding-bottom-small {
  padding-bottom: var(--padding-small);
}
.padding-bottom-medium {
  padding-bottom: var(--padding-medium);
}
.padding-bottom-large {
  padding-bottom: var(--padding-large);
}
.padding-bottom-huge {
  padding-bottom: var(--padding-huge);
}

/* padding-lefts */
.padding-left-none {
  padding-left: var(--padding-none);
}
.padding-left-tiny {
  padding-left: var(--padding-tiny);
}
.padding-left-small {
  padding-left: var(--padding-small);
}
.padding-left-medium {
  padding-left: var(--padding-medium);
}
.padding-left-large {
  padding-left: var(--padding-large);
}
.padding-left-huge {
  padding-left: var(--padding-huge);
}

/* padding x */
.padding-x-none {
  padding-left: var(--padding-none);
  padding-right: var(--padding-none);
}
.padding-x-tiny {
  padding-left: var(--padding-tiny);
  padding-right: var(--padding-tiny);
}
.padding-x-small {
  padding-left: var(--padding-small);
  padding-right: var(--padding-small);
}
.padding-x-medium {
  padding-left: var(--padding-medium);
  padding-right: var(--padding-medium);
}
.padding-x-large {
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
}
.padding-x-huge {
  padding-left: var(--padding-huge);
  padding-right: var(--padding-huge);
}

/* padding y */
.padding-y-none {
  padding-top: var(--padding-none);
  padding-bottom: var(--padding-none);
}
.padding-y-tiny {
  padding-top: var(--padding-tiny);
  padding-bottom: var(--padding-tiny);
}
.padding-y-small {
  padding-top: var(--padding-small);
  padding-bottom: var(--padding-small);
}
.padding-y-medium {
  padding-top: var(--padding-medium);
  padding-bottom: var(--padding-medium);
}
.padding-y-large {
  padding-top: var(--padding-large);
  padding-bottom: var(--padding-large);
}
.padding-y-huge {
  padding-top: var(--padding-huge);
  padding-bottom: var(--padding-huge);
}


