.details .left {
  display: grid;
  grid-template-rows: 120px 1fr;
  gap: var(--gap-large);
}

.details .left div:first-child {
  background-color: white;
}

.details .left div:last-child {
  background-color: white;
}

/* header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: -20px;
  /* margin-left: var(--margin-large); 
} */

header .left, header .right {
  display: flex;
}

header .left {
  justify-content: space-evenly;
}

header .right {
  width: 600px;
  justify-content: space-evenly;
  align-items: center;
}

.label {
  display: inline-block;;
}

i.tag {
  display: inline-block;
  background-color: var(--bg-color-3);
  font-size: 0.75rem;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 2px;
  color: white;
  width: 42px;
  height: auto;
  text-align: center;
} */

.reminder {
  display: grid;
  grid-template-columns: 1.5rem 1fr 2.5rem;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid silver;
  margin-bottom: 1rem;
  height: 1rem;
}

.reminder .number {
  width: 18px;
  height: 18px;
  color: white;
}

.overview {
  margin-top: 30px;
}

.overview .left, .overview .center, .overview .right {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}

.milestones {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 0;
  margin-top: 0;
  align-items: center;
  /* padding-bottom: 16px; */
}

.milestones .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 9px;
  /* background-color: green; */
  left: 18px;
  top: 6px;
}

.milestones .percent {
  font-weight: bold;
  font-size: 1rem;
  margin-left: 24px;
  padding-left: 20px;
  padding-bottom: 16px;
  border-left: 4px solid grey;
}

.milestones .date {
  font-size: 0.75rem;
  font-weight: 300;
  margin-right: 20px;
  padding-bottom: 16px;
}

.milestones .start {
  position: relative;
  padding-bottom: 0;
  bottom: 12px;
}